.task-small {
  $transitionTime: .15s;

  background: var(--strong-white);
  box-shadow: var(--box-shadow) !important;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  cursor: pointer;
  transition: all ease-in-out $transitionTime;
  
  &.active {
    box-shadow: var(--box-shadow-active) !important;
  }

  &.done {
    opacity: 1;
    box-shadow: none !important;
    background: var(--white-third);

    .task-small-title,
    .task-small-sub {
      opacity: .25;
      text-decoration: line-through;
    }
  }

  &-title {
    font-size: 14px;
    color: var(text-color-secondary);
    letter-spacing: 0;
    transition: all ease-in-out $transitionTime;
  }

  &-sub {
    font-size: 12px;
    color: var(text-color-tertiary);
    letter-spacing: 0;
    margin-top: 8px;
    transition: all ease-in-out $transitionTime;
  }
}
