.task-detail {
  background: #FFFFFF;
  box-shadow: 0 5px 10px 0 #EEEEF3;;
  border-radius: 8px;
  margin: 32px 32px 32px 0;
  padding: 16px;
  width: 448px;
  height: calc(100vh - 64px);
  flex: 1;
  transition: 200ms;

  &.closed {
    transform: translateX(99%);    
  }

  @media screen and (max-width: 512px) {
    display: none;
  }
}

.fade-enter {
  opacity: 0;
  top: 8px;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  top: 0px;
  transition: 220ms ease-in;
}
