.filter-bar {
  height: 64px;
  width: calc(100% + 32px);
  background: inherit;
  position: relative;
  padding-left: 24px;
  display: flex;
  align-items: center;
  z-index: 5;

  &.sticky {
    top: 0;
    left: var(--sidebar-width);
    position: fixed;
    box-shadow: var(--box-shadow);
  }

  .add-project-button {
    margin-right: 16px;
  }

  .button {
    margin-right: 8px;
  }
}
