.projects-list {
  line-height: 24px;
  font-size: 14px;

  ul {
    list-style: none;
  }

  @media screen and (min-width: 400px) and (max-width: 800px) {
    display: none;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-project {
      display: inline-flex;
      cursor: pointer;
    }
  }

  &-item {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-secondary);
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;

    > span {
      flex: 1;
    }

    &::before {
      content: '';
      height: 16px;
      opacity: 0;
    }

    .project-kebab-menu {
      display: none;
    }
    
    &.active {
      font-weight: 600;
      color: var(--blanko-blue);

      &::before {
        position: absolute;
        display: block;
        width: 4px;
        height: 24px;
        background: var(--blanko-blue);
        border-radius: 4px;
        top: 50%;
        transform: translateY(-50%);
        left: -46px;
        opacity: 1;
        transition: all ease-in-out .4s;
      }

      .project-kebab-menu {
        display: block;
      }
    }
  }

  &.favorite {
    margin-bottom: 32px;
  }
}
