.single-measurement {
  background: #FBFBFD;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-measurements {
  margin-top: 32px;

  .total-measured {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 16px 0;
  }
  
  .current-measurement {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
