.add-project-modal {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    background: #FCFCFC;
    border-radius: 4px;
    padding: 32px 32px 24px;
    display: flex;
    min-width: 440px;
    flex-direction: column;

    .input {
      margin-bottom: 16px;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
