:root {
  --sidebar-width: 296px;
  --task-detail-width: 448px;

  // Colors
  --text-color-primary: #9B9B9B; 
  --text-color-secondary: #7A848F;
  --text-color-tertiary: #7D7D7D;
  --text-color-quaternary: #CED2D6;

  --white: #FBFBFD;
  --white-second: #F3F3F3;
  --blanko-blue: #007AFF;
  --blanko-blue-light: #6EB3FF;

  --red-danger: #C23636;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  :root {
    --sidebar-width: 80px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --sidebar-width: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: red; 
    --text-color-secondary: red;
    --text-color-tertiary: red;
    --text-color-quaternary: red;

    --white: #FBFBFD;
    --white-second: #F3F3F3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--text-color-primary);
  overflow-x:hidden !important;
  font-size: 1rem;
}

.mono {
  font-family: 'SF Mono', 'Droid Sans Mono', 'Ubuntu Mono', monospace !important;
  font-size: inherit;
}

.label {
  font-size: 10px;
  user-select: none;
  color: var(--text-color-secondary);
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2 {
  font-weight: 500;
  font-size: 22px;
  color: var(--text-color-secondary);
  letter-spacing: 0;
  user-select: none;
  cursor: default;
}

h2 {
  font-size: 24px;
}

p {
  font-weight: lighter;
  font-size: 12px;
  color: var(--text-color-tertiary);
  letter-spacing: 0;
  line-height: 20px;
}

img {
  max-width: 100%;
}
