:root {
  --sizebar-width: 264px;
  --text-color-primary: #9b9b9b;
  --text-color-secondary: #7A848F;
  --white: #fbfbfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  cursor: default;
}

body {
  background: var(--white);
  color: var(--text-color-primary);
  overflow: hidden;
}


::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-left: var(--sizebar-width);
  background: var(--white);
  color: var(--text-color-primary);
}
.numbers {
  font-family: 'SF Mono', 'Droid Sans Mono', 'Ubuntu Mono', monospace !important;
}

@media screen and (max-width: 850px) {
  :root {
    --sizebar-width: 80px;
  }

  .blanko-small {
    display: block !important;
  }

  .blanko,
  .description,
  .favorites,
  .projectList {
    display: none;
  }
}

.label {
  font-size: 10px;
  user-select: none;
  color: var(--text-color-secondary);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2 {
  font-size: 32px;
  color: var(--text-color-secondary);
  letter-spacing: 0;
  font-weight:700;
  user-select: none;
  cursor: default;
}

h2 {
  font-size: 24px;
}
