* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  cursor: default;
}

body {
  background: #FBFBFD;
  color: #9B9B9B;
  overflow: hidden;
}
